/* IMPORTS */

body {
    margin: 0;
    background-color: #F3F4F6;
}

.container {
    display: grid;
    grid-template-areas: 
            "header header"
            "summary contact";
}

.top-nav {
    /* defining the space the nav itself takes up */
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    padding: 5% 15% 10%;
    background: no-repeat url("images/background-image.png");

    /* positioning items inside the nave */
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    padding: 10px;
}

.num-items {
    background-color: #1D1D1F;
    color: #FFFFFF;
    font-size: 12px;
    padding: 1px 10px;

    /* there is a difference between using px and percentages (https://www.reddit.com/r/css/comments/2ngnz7/borderradius_or_px/) */
    border-radius: 54px;
}

.cart {
    /* defining the space the cart itself takes up */
    grid-column: 1 / 3;
    grid-row: 2 / 6;
    margin: 10px;
    /* have to give same border radius to children in order to keep padding from 
       overlapping */
    border-radius: 15px;

    /* position the items inside the cart */
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}

.summary {
    grid-area: summary;
    background-color: #D2D5DA;
    max-width: 100%;
    padding: 5%;

    /* have to give same border radius as container in order to keep padding from 
       overlapping */
    border-radius: 15px 0 0 15px;
}

.contact-form {
    grid-area: contact;
    padding: 5%;

    /* have to give same border radius as container in order to keep padding from 
       overlapping */
    border-radius: 0 15px 15px 0;
}